body{
  font-family: 'Roboto', sans-serif;
}
/*----- Navigation Bar ----------------------------------------------------------------*/
.navbar{
background-color: #F0BABA;
line-height: 1.5;
}
.nav-link{
color: #A30D5F;
font-weight: 500;
}
.navbar-toggler{
outline: none!important;
color: #A30D5F;
}
.navbar-toggler:hover{
color: #ffffff;
}
.nav-item :hover{
color: #ffffff;
}
.nav-link.active{
color: #ffffff;
}
/*----- End of Navigation Bar ----------------------------------------------------------------*/
.caketittle{
    color: #ffffff;
    background-color: #A30D5F;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    font-size: 20px;
}

/*=======Product========================================*/
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:175px;height:250px;transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.product-grid6:hover .product-content{opacity:0}
.product-grid6 .title{font-size:16px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid6 .title a{color:#A30D5F}
.product-grid6 .title a:hover{color:#0a0a0a}
.product-grid6 .price{font-size:14px;font-weight:600;color:#020202}
.product-grid6 .pieces{font-size:14px;font-weight:600;color:#8f8f8f}
.product-grid6 .social{background-color:#fff;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
.product-grid6:hover .social{opacity:1;bottom:20px}
.product-grid6 .social li{display:inline-block}
.product-grid6 .social li a{color:#A30D5F;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid #A30D5F;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid6 .social li a:hover{color:#fff;background-color:#A30D5F;width:80px}
.product-grid6 .social li a:after,.product-grid6 .social li a:before{content:attr(data-tip);color:#fff;background-color:#A30D5F;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid6 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid6 .social li a:hover:after,.product-grid6 .social li a:hover:before{opacity:1}
@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
}
/*========End of product================================*/

.dropdown-menu >a{
  color: #A30D5F;
  font-weight: 600;
}
.dropdown-menu >a:hover{
  color: #ffffff;
  background-color: #c23582;
}