body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  /*----- Dashboard ----------------------------------------------------------------*/
  /*  styling scrollbars  */
  ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #883d3d;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #d17f7f;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  
  .text-primary-p {
    color: #dd9b9b;
    font-size: 14px;
    font-weight: 700;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .text-title {
    color: #d89f9f;
  }
  

  
  .container1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar nav nav nav"
      "sidebar main main main";
    /* grid-gap: 0.2rem; */
  }
  .main__title {
    display: flex;
    align-items: center;
    
  }
  .main__greeting > h1 {
    font-size: 32px;
    color:#b86868;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }
  
  .main__greeting > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
    margin-left: 20px;
  }
  
  .navbar {
    background: #c06363;
    grid-area: nav;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;
  }
  
  .nav_icon {
    display: none;
  }
  
  .nav_icon > i {
    font-size: 26px;
    color: #feffff;
  }
  
  .navbar__left > a {
    margin-right: 30px;
    text-decoration: none;
    color: #9010aa;
    font-size: 15px;
    font-weight: 700;
  }
  
  .navbar__left .active_link {
    color: #550b64;
    border-bottom: 3px solid #5d0b68;
    padding-bottom: 12px;
  }
  
  .navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar__right > a {
    margin-right: 40px;
    text-decoration: none;
  }
  
  .navbar__right > a > i {
    color: #c06363;
    font-size: 16px;
    border-radius: 50px;
    background: #ffffff;
    padding: 7px;
  }
  .navbar__right > a > i:hover {
    color: #ffffff;
    background: #e49d9d;
  }
  /* .navbar__right>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 13px;
  } */

  /*  SIDEBAR STARTS HERE  */
  
  #sidebar {
    background: #fdfcfd;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: auto;
  }
  
  .sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c06363;
   
    /* color: #E85B6B; */
  }
  .fa-user-shield{
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .sidebar__img {
    display: flex;
    align-items: center;
  }
  
  .sidebar__title > div > img {
    width: 250px;
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  .sidebar__title > div > h1 {
    font-size: 18px;
    display: inline;
  }
  
  .sidebar__title > i {
    font-size: 18px;
    display: none;
  }
  
  .sidebar__menu > h2 {
    color: #883d3d;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
  }
  
  .sidebar__link {
    color: #f3f4f6;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  
  .active_menu_link {/*==========================================================*/
    background: #c06363 !important;
    color: #ffffff;
  }
  
  .active_menu_link a {
    color:#ffffff!important;
  }
  .active_menu_link i {
    color:#ffffff!important;
  }
  .sidebar__link:hover{
    background-color: #f7e8e8;
  }
  .sidebar__link > a {
    text-decoration: none;
    color: #c78989;
    font-weight: 700;
  }
  .sidebar__link > a:hover{
      text-decoration: none;
      color: #c06363;
  }
  
  .sidebar__link > i {
    margin-right: 15px;
    font-size: 18px;
    color: #c06363;
    margin-left: 20px;
  }
  
  .sidebar__logout {
    padding: 10px;
    color: #c06363;
  }
  
  .sidebar__logout > a {
    text-decoration: none;
    color: #c78989;
    font-weight: 700;
    text-transform: uppercase;
  }
  .sidebar__logout>a:hover{
    color: #c06363;
    text-decoration: none;
  }
  .sidebar__logout:hover{
    background-color: #f7e8e8;
  }
  
  .sidebar__logout > i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .sidebar_responsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
  }
  
  @media only screen and (max-width: 978px) {
    .container {
      grid-template-columns: 1fr;
      /* grid-template-rows: 0.2fr 2.2fr; */
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "nav"
        "main";
    }
  
    #sidebar {
      display: none;
    }
  
    .sidebar__title > i {
      display: inline;
    }
  
    .nav_icon {
      display: inline;
    }
  }

    /*----- Add Category ------------------------------------------------------------------------------------------*/
    .btn.btn-primary-1{
      background-color: #cc8e8e;
      border: none;
      margin-left: 25px;
      color: #ffffff;
      padding-right: 30px;
      padding-left: 30px;
  }
  .btn.btn-primary-1:hover{
      background-color: #c06363;
      padding-left: 40px;
      color: #ffffff;
      padding-right: 40px;
      border: none;
  }
  .form-group{
    display: block;
    margin-left: 40px;
  }
  .subtopic{
    color: #494949;
    font-size: 16px;
    font-weight: bold;
}
input, textarea{
  color: #c45555;
  font-size: 16px;
  
}


  main {
    background: #fffbfb;
    grid-area: main;
    overflow-y: auto;
    width: auto
  }
/*----- End of Add Category ------------------------------------------------------------------------------------------*/

